@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@300;400;500;600;700;800&display=swap");

:root {
  --primary-color: #0f172a;
  --secondary-color: #f2295b;
  --tertiary-color: #6102d3;
  --white-color: #ffffff;
  --shadow-color: #878b95;
  /* --primary: #0f172a; */
  /* --bg-color: #f0f0f6; */
  --bg-color: #f7f7f7;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  transition: all 0.2s linear;
  text-decoration: none;
  font-family: "Nunito Sans", sans-serif;
}

::selection {
  background-color: var(--primary-color);
  color: white;
}

::-webkit-scrollbar {
  width: 0.3rem;
  margin: 2rem;
}

::-webkit-scrollbar-track {
  display: none;
}

::-webkit-scrollbar-thumb {
  background: rgba(0, 0, 0, 0.5);
  border-radius: 4px;
}

::-webkit-scrollbar {
  width: 0.4rem;
  margin: 2rem;
}

::-webkit-scrollbar-track {
  display: none;
}

::-webkit-scrollbar-thumb {
  background: var(--primary-color);
  box-shadow: inset 0 0 0px 1px var(--bg-color);
  cursor: grabbing;
  transition: 0.2s linear;
}

html {
  /* font-size: 62.5%; */
  scroll-behavior: smooth;
}

body {
  overflow-x: hidden;
  background-color: var(--bg-color);
}

/* main {
  max-width: 1300px;
  width: 100%;
  margin: auto;
} */

#scrollbar {
  width: 100%;
  height: 100vh;
  overflow: auto;
}
